@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    #navBar{
        background: linear-gradient(113.9deg, rgb(255, 128, 0) -4.5%, rgb(255, 215, 0) 98.8%);
    }
    body{
        background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    }
</style>

<div id="navBar">
    <div class="d-grid p-3 px-md-4 mb-3 border-bottom box-shadow" style="grid-auto-flow: column">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/logo.png")" width="120" /></a>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
          <nav class="d-flex gap-4">
                <a class="nav-link text-dark" asp-area="" asp-controller="FlashcardSets" asp-action="Index" id="navbar-text-justify">Sets</a>
            @if (User.IsInRole("Teacher"))
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Flashcards" asp-action="Index" id="navbar-text-justify">Flashcards</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="PromotionRequests" asp-action="Index" id="navbar-text-justify">Manage Promotions</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" id="navbar-text-justify">Reports</a>
            }
            @if (User.IsInRole("Student"))
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="PromotionRequests" asp-action="StudentView" id="navbar-text-justify">Get Promoted to Teacher</a>
                }
            </nav>
        }

          <div class="d-flex gap-4" id="nav-identity">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" id="navbar-text-justify">@User.Identity?.Name</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" id="navbar-text-justify">
                    <button type="submit" class="btn btn-outline-dark">Logout</button>
                </form>
            }
            else
            {
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-dark" id="register-login-justify">Register</a>
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-dark" id="register-login-justify">Login</a>
            }
          </div>
        </div>
</div>

<style>
    #register-login-justify {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #register-login-justify:hover {
        color: black;
    }

    #navbar-text-justify {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>